body {
    margin: 0;
    overflow: hidden;
  }
  
  canvas {
    display: block;
  }
  
  .health-bar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -1100%);
    background-color: red;
    border: 1px solid #000;
  }
  